* {
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #071e22;
}
ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
/*** INDEX PAGE ***/

/*** Navigation ***/
.main-header {
  background-color: #094d92;
  font-weight: 600;
  padding: 12px 20px;
  position: fixed;
  top: 0%;
  width: 100%;
}

.home-title {
  font-size: 26px;
  font-weight: 700;
  color: #d8dbe2;
}
.navigation {
  text-align: right;
}
.navigation,
.nav-link,
.home-title {
  display: inline-block;
}
.navigation {
  width: calc(100% - 90px);
}
.nav-links {
  color: #58a4b0;
}
.nav-link {
  padding-right: 20px;
  font-size: 20px;
}

.hosting {
  padding: 5px 10px;
  background-color: #d8dbe2;
  border-radius: 7px;
  color: #071e22;
}
/*** Main Section ***/

.img-text {
  margin-top: 62px;
  height: 600px;
  background: url('img/freedom6.jpg') right bottom 40% / cover border-box;
}
.text-msg {
  padding-top: 50px;
  padding-left: 150px;
  color: #071e22;
  font-size: 46px;
  font-family: 'Anton', sans-serif;
}
.packages {
  background-color: #ed6625;
  padding: 20px 0;
  text-align: center;
}
.packages-title {
  margin-bottom: 20px;
  font-size: 26px;
  color: #d8dbe2;
}

.package {
  padding: 20px 0;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  width: 350px;
  background-color: #094d92;
  color: #d8dbe2;
}

.package-plus {
  color: #eca400;
}
.package-plus .recommended-label {
  padding: 10px 0;
  background-color: #cacbce;
  color: #094d92;
  text-transform: uppercase;
  font-weight: bold;
}
.package-description {
  font-weight: bold;
}
.package .choose-plan {
  padding: 10px;
  background-color: #cacbce;
  color: #071e22;
  width: 60%;
  margin: 10px auto;
  text-transform: uppercase;
  font-weight: bolder;
}

.package-price {
  font-size: 20px;
  font-weight: bold;
  color: #858585;
}

.features {
  text-align: center;
  padding: 20px 0;
}
.feature-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ed6625;
}
.feature {
  display: inline-block;
  padding: 20px 0;
  width: 33%;
}
.feature-img {
  margin: 0 auto;
}
.feature-text {
  font-weight: bold;
}

/*** Footer ***/
footer {
  background-color: #071e22;
  text-align: center;
  padding: 20px 0;
}
footer a {
  color: #cacbce;
  font-size: 22px;
}

footer a:first-child {
  margin-right: 20px;
}

/*** Packages Page ***/
.background {
  background: url(img/background.jpeg);
}
.deals-main {
  padding-top: 82px;
}
.deal {
  margin: 20px;
  padding: 20px;
  border: 1px solid #071e22;
  position: relative;
}
.deal-badge {
  position: absolute;
  background-color: #ed6625;
  padding: 5px;
  color: #d8dbe2;
  top: 20px;
  right: 20px;
  margin-bottom: 20px;
}
